html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.board {
  margin: 0 auto;
}

.board td {
  border: 1px solid #000;
  width: 80px;
  height: 80px;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.player-true .circle {
  background-color: tomato;
}

.player-false .circle {
  background-color: seagreen;
}

.board td .circle {
  visibility: hidden;
}

.board td.placed .circle {
  visibility: visible;
}
